@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
li {
  @apply opacity-75;
}

.navbar {
  position: absolute;
  top: -100%;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 50%;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.navbar.open {
  background-color: #fff;
  top: 5rem;
  z-index: 99;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {
  .navbar {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    /* Changed this to "flex-start" for added support */
    align-items: flex-start;
    justify-content: flex-start;

    width: auto;
    padding: 0;
    z-index: auto;
  }

  .navbar.open {
    top: 0;
    background-color: transparent;
    z-index: auto;
  }

  .navbar div {
    @apply mr-10;
  }

  .navbar div ul {
    position: absolute;
    /* width: 12rem; */
  }
}
